<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test_db">
	<insert id="insert_data" parameterType="kr.co.tjoeun.beans.TestBean">
		<![CDATA[
			insert into spring_test values (#{data1}, #{data2}, #{data3})
		]]>
	</insert>
	<select id="select_data" resultType="kr.co.tjoeun.beans.TestBean">
		<![CDATA[
			select * from spring_test
		]]>
	</select>
</mapper>